#homepage {
  margin: 0 auto;
  position: relative;
}

#homepage img {
  max-height: 70rem;
  max-width: 100%;
  object-fit: cover;
}

.name {
  color: var(--color-secondary);
  text-transform: uppercase;
  position: absolute;
  top: 35%;
  right: 15%;
}
