#homepage {
  position: relative;
  height: 100vh;
}

#homepage > img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: 30%;
}

.name {
  color: var(--color-secondary);
  text-transform: uppercase;
  text-align: center;
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 0 3rem;
}

#homepage p {
  text-align: right;
}

@media screen and (min-width: 900px) {
  #homepage {
    height: 100vh;
    margin: 0 auto;
  }

  .name {
    left: 80%;
    top: 50%;
    text-align: left;
  }
}
