:root {
  --bg-primary: #0D1117;
  --text-primary: #8B949E;
  --color-primary: #161B22;
  --color-secondary: #26A641;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  font-size: 62.5%;
}

body {
  background-color: var(--bg-primary);
  font-family: "Verdana", sans-serif;
  margin: 0;
  padding: 0;
}

main {
  display: flex;
  flex-direction: column;
  width: 100%;
}

a {
  color: var(--text-primary);
}

a:hover, a:focus {
  color: var(--color-secondary);
}

ul {
  list-style: none;
}

p, h1 {
  color: var(--text-primary);
}

.social {
  display: flex;
  justify-content: center;
  align-items: center;
}

ul.social {
  padding: 0;
  margin: 0;
}

.social li img {
  width: 3rem;
  height: 3rem;
  margin: .5rem;
}

.social li img:hover, .social li img:focus {
  transform: scale(1.2);
  filter: brightness(2);
  outline: none;
}

.center {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.bold {
  font-weight: bold;
  padding-top: 0.5rem;
}

.cols {
  display: flex;
  flex-wrap: wrap;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.inside-container {
  margin: 0 5rem;
}

section {
  padding-bottom: 5rem;
}

@media screen and (min-width: 767px) {
  .cols > div {
    flex: 50%;
    box-sizing: border-box;
  }
}
