.NavBar {
  position: absolute;
  z-index: 1;
}

span {
  font-size: 1.5rem;
  font-weight: bold;
}

.NavBar .social {
  flex-direction: column;
  position: absolute;
  top: 25rem;
  left: -3.5rem;
}

.NavBar ul.social {
  padding: 4rem;
}
